// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_show {
  font-family: 'Pangolin', cursive;
  text-align: center;
  margin-top: 5em;
}

.post_show_button {
  text-align: center;
  margin-top: 4em;
}

.post_form {
  text-align: center;
  margin: 9em auto;
  font-family: 'Sansita', sans-serif;
}
